body{
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

* {
    border: 1px solid red;
  }

.overlay-div {
    position: absolute; /* 親要素を基準に配置するよ！ */
    top: 20%;
    left: 40%;
    transform: translate(50%, 50%); /* 要素の中心を基準に位置を調整するよ！ */
    z-index: 2; /* Canvasより前面に表示させるよ！ */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.canvas-container {
 /* position: relative;
*/
}


canvas {
  width: 100%;
  /*position: absolute;*/ /* 親要素を基準に配置するよ！ */
  z-index: 1;
}
